---
http_interactions:
- request:
    method: get
    uri: http://idealista-prod.apigee.net/public/2/search?apikey=<API_KEY>&center=40.4229014,-3.6976351&country=es&distance=60&maxItems=5&numPage=1&operation=A&order=distance&propertyType=bedrooms&sort=asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"fault":{"faultstring":"Rate limit quota violation. Quota limit  exceeded.
        Identifier : <API_KEY>","detail":{"errorcode":"policies.ratelimit.QuotaViolation"}}}'
  recorded_at: Wed, 06 Jul 2016 16:33:55 GMT
recorded_with: VCR 2.9.3
