---
http_interactions:
- request:
    method: get
    uri: http://idealista-prod.apigee.net/public/2/search?apikey=<API_KEY>&country=es&distance=60&maxItems=5&numPage=1&operation=A&order=distance&propertyType=bedrooms&sort=asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"fault":{"faultstring":"Spike arrest violation. Allowed rate : 1ps","detail":{"errorcode":"policies.ratelimit.SpikeArrestViolation"}}}'
  recorded_at: Mon, 20 Jul 2015 15:06:13 GMT
recorded_with: VCR 2.9.3
